h2 { color: #0b6d0b; font-family: "Great Vibes", cursive;  ;  text-shadow: 0 2px 2px #fff; }

#home {
    color: #000000; font-family: "Great Vibes", cursive;  ;  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}