


<div class="card bg-dark text-white main-container animated fadeIn"  >
  <img src="https://res.cloudinary.com/dt0x73u8z/image/upload/c_scale,h_301,w_600/v1659744237/AllReady/depositphotos_41466555-stock-photo-image-of-slice-of-pizza_qmkuov.webp" class="card-img" alt="...">
  <div class="card-img-overlay">
    <div class="card-body align-items-center d-flex justify-content-center">
      <h2 class="card-text fadeFast" >El verdadero sabor de la hamburguesa  al grill.</h2> 
      <br>
      
    </div>
    <div class="card-body align-items-center d-flex justify-content-center">
      
      <p id="home" class="card-text">Cocinando tus sueños desde el 2019</p>
    </div>
    
    
  </div>
</div>
<div class="contaier main-container">
  <h2>Nuestras promociones</h2>
</div>

<div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="../../../assets/img/hamburgesa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="../../../assets/img/hamburgesa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="../../../assets/img/hamburgesa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="../../../assets/img/hamburgesa.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>
